
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.btn:focus {
    outline: none;
}
.traffic-light-container-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traffic-light-container-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    background-color: black;
    border-radius: 10px;
    width: 125px;
    min-height: 175px;
}

.traffic-light-container-rectangle {
    background-color: black;
    height: 70px;
    width: 20px;
}

.lights {
    aspect-ratio: 1;
    border-radius: 50%;
    border-color: black;
}

.new-color-button {
    margin-top: 10px;
    border-radius: 10px;
    background-color: wheat;
    font-weight: 100;
}

.active {
    box-shadow: 0 0 25px white;
}